<config>
    <interface hosts="**" address="10.x.x.x" netmask="255.x.x.0"/>
    <multicast-group hosts="**.replica[*]" address="224.0.1.3"/>
    <multicast-route hosts="**.pod[0].edgeSwitch[1]" groups="224.0.1.3" parent="eth0" children="eth1 eth2"/>
    <multicast-route hosts="**.pod[0].edgeSwitch[0]" groups="224.0.1.3" parent="eth2" children="eth0 eth1"/>
    <multicast-route hosts="**.pod[0].aggregateSwitch[0]" groups="224.0.1.3" parent="eth3" children="eth0 eth2"/>
    <multicast-route hosts="*.coreSwitch[0]" groups="224.0.1.3" parent="eth0" children="eth1 eth2 eth3"/>
    <multicast-route hosts="**.pod[1..3].aggregateSwitch[0]" groups="224.0.1.3" parent="eth0" children="eth2 eth3"/>
    <multicast-route hosts="**.pod[1..3].edgeSwitch[*]" groups="224.0.1.3" parent="eth2" children="eth0 eth1"/>
</config>
